html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}

body {
	background-color: #CAE0E2;
	
        background: white url('images/test5.jpg');
	background-repeat: no-repeat;
	/*background-size: 2000px 350px;*/
	font-family: Sans-serif,"Times New Roman", Times, serif;
	color: #1D3638;
	
	
}
#map-canvas{
	background:#EAEAEA;
	
}


#timeline {
	width: 800px;
	height: 600px;
	overflow: hidden;
	margin-top:10px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	eft 45px repeat-x;
	
	
	background:transparent;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	
}



#dates {
	width: 700px;
	height: 60px;overflow: hidden;
}

#dates li {
	list-style: none;
	float: left;
	width: 100px;
	height: 50px;
	font-size: 12px;
	text-align: center;
	center bottom no-repeat;
}

#dates a {
	line-height: 14px;
	padding-bottom: 10px;
}

#dates a:hover{
	color: red;
}

#dates .selected {
	font-size: 16px;
	color: yellow;
}

#issues {
	width: 760px;
	height: 300px;
	overflow: hidden;
	
}	

#issues li {
	width: 760px;
	height: 300px;
	list-style: none;
	float: left;
}

#issues li h1 {
	color: #ffcc00;
	font-size: 42px;
	margin: 10px 0;
	text-shadow: #000 1px 1px 2px;
}

#issues li p {
	font-size: 14px;
	margin-right: 70px; 
	margin:10px; font-weight: normal;
	line-height: 22px;
}

#userInputs {
	margin-top: 0;
	text-align: center;
	
}

 /*new added styles*/
 
h3{
	margin-left: 10px;
	
	font-family: arial;
	}

#descSection{
	
	text-align: justify;
	
	width: 800px;
	height: auto;
	overflow: hidden;
	margin-top:10px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	eft 45px repeat-x;
	
}

#pageDesc {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;

    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
    column-gap: 20px;
}